# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.webedition'
'name': 'webEdition'
'fileTypes': [
  'tmpl'
  'php'
]
'injections':
  'source.webedition - (meta.embedded | meta.tag), L:source.webedition meta.tag, L:source.js.embedded.html':
    'patterns': [
      {
        'match': '<we:comment>(.*)</we:comment>'
        'name': 'comment.webedition'
      }
      {
        'begin': 'comment=[\'\"]'
        'end': '[\'\"]'
        'name': 'comment.webedition'
      }
      {
        'include': 'text.html.php'
      }
      {
        'include': 'text.html.basic'
      }
    ]
